# Dependencies
node_modules/

# Build
dist/

# Environment variables
.env
.env.*

# Local database
*.sqlite
*.sqlite-journal
*.db
*.db-journal

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/